.text.text-uno {
    color: var(--color-uno);
}

.text.text-dos {
    color: var(--color-dos);
}

.text.text-tres {
    color: var(--color-tres);
}


/* * MD */

@media(min-width: 768px) {
    /**/
}


/* LG */

@media(min-width: 1024px) {
    /**/
}


/* XL */

@media(min-width: 1200px) {
    /**/
}